<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<body>
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">Welcome To Simple Blog Generator</h1>
        </div>
        <div>
            <a href="{% url 'save_blog' %}" class="text-white hover:underline p-2">Create Blog</a>
            <a href="{% url 'saved_blog' %}" class="text-white hover:underline p-2">Saved Blog</a>
            <a href="{% url 'login_view' %}" class="text-white hover:underline p-2">
                Welcome {{ request.session.user_email }}
            </a>
            <a href="{% url 'logout_view' %}" class="text-white hover:underline">logout</a>
        </div>
    </nav>

    <div class="container mx-auto p-6">
        <div class="bg-white p-8 rounded shadow">
            <h2 class="text-2xl font-bold mb-6">Edit Blog</h2>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
                    <input type="text" id="title" name="title" value="{{ blog.title }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div class="mt-4">
                    <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Content:</label>
                    <textarea id="content" name="content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>{{ blog.content }}</textarea>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4" type="submit">
                    Save
                </button>
            </form>
        </div>
    </div>
</body>
</html>
